$colorPrimario: #0a141d;
$colorSecundario: #0a1a2a;

$colores:(
    primario: #0a141d,
    secundario: #0a1a2a,
    terciario: rgb(40, 54, 159)

);
$btnn:(
    padding:10px 15px,
    bordes: 0,
    radio: 0,
 
);